* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: "Poppins", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('bg.avif') no-repeat center center/cover;
    color: #333;
}
.container {
    margin: 0 15px;
}
.form-box {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: none;
}
.form-box.active {
    display: block;
}
h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
input {
    width: 100%;
    padding: 12px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
}
input::placeholder{
    color:#fff;
}
button {
    width: 100%;
    padding: 12px;
    background: #fff;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}
button:hover {
    background: #d5d5d5;
}
p {
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
    color: white;
}
p a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
p a:hover {
    text-decoration: underline;
}
.error-message {
    padding: 12px;
    background: #f8d7da;
    border-radius: 6px;
    font-size: 16px;
    color: #a42834;
    text-align: center;
    margin-bottom: 20px;
}